[Unit]
Description=FS Server Discovery Service
BindsTo=fs-server@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PUBLIC_IPV4}:9333; \
    if [ $? -eq 0 ]; then \
      /usr/bin/etcdctl set /announce/service/fs-server/%m \'{"IP":"${COREOS_PUBLIC_IPV4}", "PORT":"9333"}\' --ttl 60; \
    else \
      /usr/bin/etcdctl rm /announce/service/fs-server/%m; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /announce/service/fs-server/%m

[X-Fleet]
X-Conflicts=%p@*.service
Conflicts=%p@*.service
MachineOf=fs-server@%i.service
