[Unit]
Description=MariaDB (MaxScale) Database Proxy Service
After=docker.service
Requires=docker.service
Wants=mariadb-maxscale-discovery@%i.service
Before=mariadb-maxscale-discovery@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill mariadb-maxscale-%m
ExecStartPre=-/usr/bin/docker rm -f mariadb-maxscale-%m
ExecStartPre=/usr/bin/docker pull storyair/mariadb-maxscale:latest
ExecStart=/usr/bin/docker run -p 3306:3306 -p 6604:6604 --name mariadb-maxscale-%m storyair/mariadb-maxscale
ExecStop=/usr/bin/docker stop mariadb-maxscale-%m

[X-Fleet]
X-Conflicts=mariadb-galera@*.service
X-Conflicts=mariadb-maxscale@*.service
Conflicts=mariadb-galera@*.service
Conflicts=mariadb-maxscale@*.service
