[Unit]
Description=MariaDB (Galera) Discovery Service
BindsTo=mongodb-server@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PUBLIC_IPV4}:27017; \
    if [ $? -eq 0 ]; then \
      /usr/bin/etcdctl set /announce/service/mongodb-server/%m \'{"IP":"${COREOS_PUBLIC_IPV4}", "PORT":"27017"}\' --ttl 60; \
    else \
      /usr/bin/etcdctl rm /announce/service/mongodb-server/%m; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /announce/service/mongodb-server/%m

[X-Fleet]
X-Conflicts=%p@*.service
Conflicts=%p@*.service
MachineOf=mongodb-server@%i.service
