[Unit]
Description=Redis 3.0 Discovery Service
BindsTo=redis-server@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStart=/bin/bash -c '\
  while true; do \
    if curl --max-time 1 ${COREOS_PUBLIC_IPV4}:6379 | grep "command" > /dev/null; then \
      /usr/bin/etcdctl set /announce/service/redis-server/members/%m \'{"IP":"${COREOS_PUBLIC_IPV4}", "PORT":"6379"}\' --ttl 60; \
    else \
      /usr/bin/etcdctl rm /announce/service/redis-server/members/%m; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /announce/service/redis-server/members/%m /announce/service/redis-server/leader/%m

[X-Fleet]
X-Conflicts=%p@*.service
Conflicts=%p@*.service
MachineOf=redis-server@%i.service
